.description_box {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 0 14px;
  width: 100%;
  align-items: center;
  z-index: 5;
  background-color: white;
}

/*success*/
.semi_content {
  width: 100%;
  color: #828282;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 24px;
  background-color: white;
}

/*success*/
.semi_content_2 {
  width: 100%;
  color: #828282;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 12px;
  background-color: white;
}

/*success*/
.rectangle {
  position: absolute;
  bottom: -98px;
  width: 100%;
  height: 100px;
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}

.all_chatting_box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 12px;
  align-self: stretch;
  width: 100%;

  overflow-y: scroll; /* 스크롤 추가 */
  padding: 12px;
}

/*success*/
.oldReview {
  align-self: flex-start; /* 왼쪽 정렬 */

  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  text-align: left;

  color: #000000;
  line-height: normal;
  padding: 10px;
  border-radius: 16px;
  background: #d9d9d9;
  position: relative;
  max-width: 280px;

  word-break: break-all; /* 말풍선 너비를 넘는 단어도 줄바꿈 */
  white-space: normal; /* 텍스트 줄바꿈 허용 */
}

/* 새로 작성된 리뷰 스타일 */
.newReview {
  align-self: flex-end; /* 오른쪽 정렬 */

  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  text-align: left;

  color: #ffffff;
  line-height: normal;
  padding: 10px;
  border-radius: 16px;
  background: var(--AID-Skyblue, #0ea5e9);
  position: relative;
  max-width: 280px;

  word-break: break-all; /* 말풍선 너비를 넘는 단어도 줄바꿈 */
  white-space: normal; /* 텍스트 줄바꿈을 허용 */
}

/* 별점 스타일 */
.starRating {
  display: flex;
  gap: 4px; /* 별 사이의 간격 */
}

.paddingRow {
  width: 100%;
  height: 150px;
  flex-shrink: 0;
  margin-top: auto;
}

.chatRow {
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 8px;
}

.chatRow2 {
  display: flex;
  align-items: center;
  align-self: flex-end;
  gap: 8px;
}

/* 입력 박스 스타일 */
.inputContainer {
  display: flex;
  position: relative;
  align-items: start;
  gap: 8px;
  align-self: stretch;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 16px;
}

.input {
  display: flex;
  width: 250px;
  padding: 8px 16px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1px solid #bebebe;
  margin-left: 8px;
  resize: none;
}

.Upload {
  display: flex;
  width: 38px;
  padding: 4px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  background: var(--AID-Skyblue, #0ea5e9);
  margin-right: 12px;
  border: none;
}

/* 오버레이 스타일 */
.overlay {
  display: flex;
  padding: 12px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: var(--AID-GREEN, #16a34a);
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.starRatingSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  margin-right: 12px;
  margin-bottom: 12px;
}

.Container {
  padding-top: 3rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-top-color: rgb(0, 0, 0);
  border-radius: 100%;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
